[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[5C77-0E65]
row=2
col=0

[52cf238f-9e8b-4a4e-8b22-c8fe55ce6fc9]
row=0
col=0

[E5B9-E2F4]
row=1
col=0

[/]
row=3
col=0

[/home/hellall]
row=4
col=0

